body {
    width: 100%;
    height: 100%;
    background-image: none;
    background-color: #07375B;
    overflow: auto;
    color: #FDEDBE;

}

.heading {
    background-image: url("../images/oc-beach.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    height: 300px;
    width: inherit;
    padding: 50px;
}

h1 {
    font-style: italic;
    font-weight: bolder;
    font-size: 2em;
    color: #0A4174;
}

.copy {
    overflow: auto;
}

.copy div {
    padding: 10px 12% 20px;
    text-align: center;
}

h3 {
    color: #FDEDBE;
    background-color: #248FB5;
    border: 2px solid #196884;
    border-radius: 6px;
    display: inline-block;
    padding: 2px 10px;
    width: 100%;
    height: auto;
}

h3:hover {
    color: #248FB5;
    background-color: #FDEDBE;
    border-color: darkGray;
}

.copy p {
    display: none;
}

.copy span {
    float: left;
    width: 100px;
    padding: 10px 10px 0 0;
}

#img-me {
    width: 100%;
    border: 2px solid #248FB5;
}


/*iPad*/
@media all and (min-width: 768px) {
    h1 {
        font-size: 48px;
        font-weight: 700;
    }
    .copy {
        padding: 20px 5%;
    }

    .copy div {
        position: relative;
        float: left;
        width: 47.5%;
        padding: 0 0 20px 0;
    }

    .copy div:nth-child(2n+1) {
        width: 52.5%;
        padding-right: 5%;
    }

    .copy p {
        padding-top: 10px;
    }

}

/*desktop*/
@media all and (min-width: 1024px) {
    .heading {
        padding: 40px;
    }
    h1 {
        font-size: 56px;
        font-weight: 800;
    }

}
