#background {
    background-position: 72%;
}

#blog-background {
    width: 90%;
    margin: 5%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
}

#menu {
    display: block;
    font: normal 16px "Rock Salt", cursive, arial;
}

#menu li {
    color: #DBCDC2;
    font-weight: normal;
    text-align: center;
}

.entry {
    display: none;
    width: 100%;
    padding: 30px 5% 5%;
}

.entry img, iframe {
    display: block;
    max-width: 90%;
    margin: auto;
    border: 3px solid #DBCDC2;
}

h2, p, a {
    color: #DBCDC2;
}

p {
    font-size: 12px;
    height: 40%;
    text-align: justify;
}

#blog-controls {
    text-align: center;
    display: none;
}

#blog-controls li {
    display: inline-block;
    padding: 0 12%;
    color: #DBCDC2;
}

@media all and (min-width: 768px){
    .entry img, iframe {
        max-width: 70%;
    }
}

@media all and (min-width: 768px){
    .entry img, iframe {
        max-width: 50%;
    }
}
