body {
    background-image: none;
    background-color: #07375B;
    overflow: auto;
}

#burger, #close-nav {
    width: auto;
    border: none;
}

#gallery {
    padding: 0 25px;
    overflow: auto;
}

.col {
    padding: 5px;
}

.col>div {
    padding: 5px 5px 0;
    height: auto;
}

img {
    width:100%;
    border: 5px solid #248FB5;
    display: inline-block;
}

.caption {
    display: none;
    position: absolute;
    top:0;
    width: 10px;
    height: 10px;
    color: lightBlue;
    background-color: rgba(0,0,0,0.6);
    padding-top: 33%;
}

.caption p {
    width: 75%;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
}


@media all and (min-width: 480px) {
    #gallery {
        padding: 0 50px;
    }
}

@media all and (min-width: 768px) {
    #gallery {
        padding: 0 75px;
    }
}

@media all and (min-width: 1200px) {
    #gallery {
        padding: 0 100px;
    }
}
