body {
    width: 100vw;
    height: 100vh;
}

h1, h2 {
    font-family: 'IM Fell English SC', cursive, arial;
}
h1 {
    font-size: 2.4em
}

h2 {
    font-size: 1.5em;
}

#madlib-input {
    width: 340px;
    margin: 0 auto;
}

form {
    text-align: center;
}

input {
    font-family: 'IM Fell English SC', cursive, arial;
    font-weight: bolder;
}

input:focus {
    outline-offset: -2px;
    outline-color: cyan;
    outline-style: auto;
    outline-width: 5px;
}

input.is-invalid {
    border: 1px solid red;
}

input.is-invalid:focus {
    outline-offset: -2px;
    outline-color: red;
    outline-style: auto;
    outline-width: 5px;
}

button {
    border-radius: 12px;
    width: 60px;
}

#madlib-story {
    background-color: rgba(0,0,0,0.5);
    border-radius: 50px;
    text-align: center;
    display: none;
    font: normal 2em 'IM Fell English SC', cursive, arial;
}

h3, p {
    color: white;
}

h3 {
    font-weight: bolder;
}

span {
    color: #248FB5;
}
