/* colors-> dk bl: 07375B  bl: 0A4174  248FB5  gray: DBCDC2  cream: FDEDBE */
* {
    box-sizing: border-box;
}

body {
    font: normal 16px 'Rock Salt', cursive, arial;
    color:  #0A4174;
    padding-top: 52px;
    width: 100%;
    height: 100%;
}

#background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background-image: url('../images/ship.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 23%;
    z-index: -1;
}

header {
    background-color: #248FB5;
    padding: 10px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

#burger, #close-nav {
    height: 2em;
    display: inline-block;
    float: right;
}

#close-nav {
    display: none;
}

nav {
    width: 8em;
    margin: auto;
    text-align: center;
    display: none;
}

nav ul {
    overflow: auto;
}

nav li {
    font-size: 20px;
    font-weight: bolder;
    font-family: 'IM Fell English SC', times, serif;
    display: inline-block;
    padding: 0 10px;
}

nav a {
    color: #07375B;
    text-decoration: none;
}

/*indicates current page in nav bar*/
#is-current {
    border-bottom: #07375B 2px solid;
    border-top: #07375B 2px solid;
}

a:hover {
    color: lightBlue;
}

h1, h2 {
    font-weight: bolder;
    text-align: center;
}

h1 {
    font-size: 1.5em;
    transition: color 2s;
}

h1:hover {
    color: #248FB5;
}

h2 {
    font-size: .7em;
}

#widget-weather {
    position: absolute;
    bottom: 5%;
    right: 0;
}

footer {
    width: 100%;
    height: 8px;
    margin: 0 auto;
    position: absolute;
    bottom: 2%;
    z-index: 1;
}

footer p {
    text-align: center;
    color: white;
    font: normal 14px 'Cormorant Unicase', times, serif;
}

#is-locked {
    font: normal 25px 'IM Fell English SC', times, serif;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-image: url('../images/brick-wall.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
}

#is-locked form {
    margin: 10px;
}

#is-locked input {
    width: 100px;
}

#is-locked [id|='box'] {
    position: fixed;
    display: inline-block;
    width: 94px;
    height: 50px;
    background-color: black;
    text-align: center;
    color: white;
}

#box-1 {
    top: 10%;
    right: 30%;
}
#box-2 {
    top: 30%;
    left: 10%;
}
#box-3 {
    top: 55%;
    left: 70%;
}
#box-4 {
    top: 80%;
    right: 45%;
}

#is-locked img {
    border: 2px solid black;
}

#is-locked p {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    text-align: center;
    padding: 10px;
    z-index: -1;
}

#box-4 p {
    z-index: 1;
    font-size: 6px;
    opacity: 0;
    padding-top: 23%;
}

#is-locked .is-movable, #box-4 img {
    height: 100%;
    width: 100%;
    transition: all 2s;
}

#box-1 .is-movable:hover {
    transform: translate(0px, 50px);
}

#box-2 .is-movable:hover {
    transform: translate(-45px, 50px) rotate(20deg);
}

#box-3 .is-movable:hover {
    transform-origin: center 3px;
    transform: rotate(170deg);
}

#box-4 .is-movable:hover {
    opacity: 1;
    transform: scale(4,4);
}


/*Ipad*/
@media all and (min-width: 768px) {
    header {
        height: 52px;
    }
    nav {
        width: auto;
        display: inline-block;
    }

    nav li {
        font-size: 1em;
        display: inline-block;
        padding: 5px 10px;
        float: left;
    }

    #burger, #close-nav {
        display: none;
    }

    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1em;
    }

}

/*Desktop*/
@media all and (min-width: 1024px){
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1em;
    }

}
