body {
    background-image: none;
    background-color: #07375B;
}

#burger, #close-nav {
    width: auto;
    border: none;
}

#gallery {
    padding: 0 25px;
}

.col {
    padding: 5px;
}

.col>div {
    padding: 5px 5px 0;
    height: auto;
}

img {
    display: inline-block;
    width:100%;
    border: 5px solid #248FB5;
}

.caption {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: lightBlue;
    background-color: rgba(0,0,0,0.6);
    padding-top: 33%;
}

.caption p {
    width: 75%;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
}

footer {
    font-family: Helvetica, arial;
    font-size: 10px;
    text-transform: uppercase;
    color: gray;
    float: right;
    clear: both;
    bottom: 0;
}


@media all and (min-width: 480px) {
    #gallery {
        padding: 0 50px;
    }
}

@media all and (min-width: 768px) {
    #gallery {
        padding: 0 75px;
    }
}

@media all and (min-width: 1200px) {
    #gallery {
        padding: 0 100px;
    }
}
